Importing the required libraries

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt

Reading the Zomato Dataset File

In [ ]:
data = pd.read_csv('Zomato.csv')
data.head(10)

Checking the 'online_order' column

In [21]:
data['online_order'].value_counts()

Yes                   510
No                    485
yes                     3
MG Road                 1
Drinks & nightlife      1
Name: online_order, dtype: int64

In [29]:
    #* Replacing the bad values
    #* We assumed that the two wrong values added were a 'No' for online order
data['online_order'] = data['online_order'].replace(['yes', 'MG Road', 'Drinks & nightlife'],['Yes', 'No', 'No'])
data['online_order'].value_counts()

Yes    513
No     487
Name: online_order, dtype: int64

Now, we check the book_table column

In [25]:
data['book_table'].value_counts()

No     791
Yes    206
yes      2
no       1
Name: book_table, dtype: int64

In [32]:
data['book_table'] = data['book_table'].replace(['yes', 'no'], ["Yes", "No"])
data['book_table'].value_counts()

No     792
Yes    208
Name: book_table, dtype: int64

Now, we format the ratings column first and find indexes where there is no ratings

In [135]:
data['rate'] = data['rate'].str.replace('/5', '')
empty_indx_lst = data[data['rate'].isnull()].index.tolist()
data['rate'] = data['rate'].replace(['NEW', ''], ['0', '0'])
data['rate'] = data['rate'].fillna('0')
data['rate'].unique()

array(['0', '3.9', '3.8', '4.2', '3.6', '3.4', '4.0', '3.7', '2.9', '3.3',
       '3.2', '4.3', '3.1', '4.7', '4.1', '3.0', ' 4.5', '2.7', '4.4',
       '2.6', '4.5', '4', '3.5', '2.4', '2.8', " ('Rated 5.0'", '2.5',
       '3.8 ', '3.4 ', '3.0 ', '3.9 ', '3.5 ', '3.2 ', '3.7 ', '3.1 ',
       '2.8 ', '2.7 ', '2.9 ', '4.2 ', '3.3 ', " ('Rated 3.5'", '4.0 ',
       '3.6 ', '4.1 ', '2.5 ', '2.4 ', '1.9', " ('Rated 4.0'", '02-May',
       " ('Rated 2.5'", '4.4 ', '03-May', " ('Rated 2.0'", '4.3 ', '4.6 ',
       ' highly recommended.', " 'Rated 4.0'", '00-Jan', '2.6 ', '4.5 ',
       " Rated 3.0'", ' 4.0', '4.05', '4.6', ' 2', '2.0 ', '4.7 ',
       ' Rated 5.', " 'Rated 5.0'", '5', ' 2.0', '3', '2.1'], dtype=object)