Importing the required libraries

In [231]:
import pandas as pd
from matplotlib import pyplot as plt

Reading the Zomato Dataset File

In [232]:
data = pd.read_csv('Zomato.csv')
data.head(10)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people)
0,Jalsa,Yes,Yes,4.1/5,775.0,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",₹ 800.00
1,Spice Elephant,Yes,No,4.1/5,787.0,Banashankari,Casual Dining,"Chinese, North Indian, Thai",₹ 800.00
2,San Churro Cafe,Yes,No,3.8/5,918.0,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",₹ 800.00
3,Addhuri Udupi Bhojana,No,No,3.7/5,88.0,Banashankari,Quick Bites,"South Indian, North Indian",₹ 300.00
4,Grand Village,No,No,3.8/5,166.0,Basavanagudi,Casual Dining,"North Indian, Rajasthani",₹ 600.00
5,Timepass Dinner,Yes,No,3.8/5,286.0,Basavanagudi,Casual Dining,North Indian,₹ 600.00
6,Rosewood International Hotel - Bar & Restaurant,No,No,3.6/5,8.0,Mysore Road,Casual Dining,"North Indian, South Indian, Andhra, Chinese",₹ 800.00
7,Onesta,Yes,Yes,4.6/5,2556.0,Banashankari,"Casual Dining, Cafe","Pizza, Cafe, Italian",₹ 600.00
8,Penthouse Cafe,Yes,No,4.0/5,324.0,Banashankari,Cafe,"Cafe, Italian, Continental",₹ 700.00
9,Smacznego,Yes,No,4.2/5,504.0,Banashankari,Cafe,"Cafe, Mexican, Italian, Momos, Beverages",₹ 550.00

Checking the 'online_order' column

In [233]:
data['online_order'].value_counts()

Yes                   510
No                    485
yes                     3
MG Road                 1
Drinks & nightlife      1
Name: online_order, dtype: int64

In [234]:
    #* Replacing the bad values
    #* We assumed that the two wrong values added were a 'No' for online order
data['online_order'] = data['online_order'].replace(['yes', 'MG Road', 'Drinks & nightlife'],['Yes', 'No', 'No'])
data['online_order'].value_counts()

Yes    513
No     487
Name: online_order, dtype: int64

Now, we check the book_table column

In [235]:
data['book_table'].value_counts()

No     791
Yes    206
yes      2
no       1
Name: book_table, dtype: int64

In [236]:
data['book_table'] = data['book_table'].replace(['yes', 'no'], ["Yes", "No"])
data['book_table'].value_counts()

No     792
Yes    208
Name: book_table, dtype: int64

Now, we format the ratings column first and find indexes where there is no ratings

In [237]:
data['rate'] = data['rate'].str.replace('/5', '')
empty_indx_lst = data[data['rate'].isnull()].index.tolist()
data['rate'] = data['rate'].replace(['NEW', ''], ['1', '1'])
data['rate'] = data['rate'].fillna('1')
data['rate']=data['rate'].replace([val for val in data['rate'] if len(val)>4], '1')
data['rate'].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', '1', '2.9', '3.5', '2.6',
       '3.8 ', '3.4', '2.5', '4.7', ' 4.5', '2.7', '4.5', '4', '2.4',
       '3.4 ', '3.0 ', '3.9 ', '3.5 ', '3.2 ', '3.7 ', '3.1 ', '2.8 ',
       '2.7 ', '2.9 ', '4.2 ', '3.3 ', '4.0 ', '3.6 ', '4.1 ', '2.5 ',
       '2.4 ', '1.9', '4.4 ', '4.3 ', '4.6 ', '0', '2.6 ', '4.5 ', ' 4.0',
       '4.05', ' 2', '2.0 ', '4.7 ', '5', ' 2.0', '3', '2.1'],
      dtype=object)

In [238]:

print(type(mean))
data['rate'] = data['rate'].replace(['1'], mean)
data['rate'] = data['rate'].fillna(mean)
print(data['rate'].unique())

<class 'numpy.float64'>
[4.1  3.8  3.7  3.6  4.6  4.   4.2  3.9  3.1  3.   3.2  3.3  2.8  4.4
 4.3  1.   2.9  3.5  2.6  3.4  2.5  4.7  4.5  2.7  2.4  1.9  0.   4.05
 2.   5.   2.1 ]

In [239]:
data['rate'] = data['rate'].fillna(mean)
empty_index_lst = data[data['rate'].isnull()].index.tolist()
print(empty_index_lst)
data.head(270)

[]

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people)
0,Jalsa,Yes,Yes,4.1,775.0,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",₹ 800.00
1,Spice Elephant,Yes,No,4.1,787.0,Banashankari,Casual Dining,"Chinese, North Indian, Thai",₹ 800.00
2,San Churro Cafe,Yes,No,3.8,918.0,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",₹ 800.00
3,Addhuri Udupi Bhojana,No,No,3.7,88.0,Banashankari,Quick Bites,"South Indian, North Indian",₹ 300.00
4,Grand Village,No,No,3.8,166.0,Basavanagudi,Casual Dining,"North Indian, Rajasthani",₹ 600.00
...,...,...,...,...,...,...,...,...,...
265,Starbucks,No,No,4.1,52.0,Bannerghatta Road,Cafe,"Cafe, Desserts",₹ 700.00
266,Smoor,Yes,No,4.1,18.0,Bannerghatta,Dessert Parlor,"Desserts, Cafe, Beverages",₹ 900.00
267,Kalmane Koffees,No,No,4.4,78.0,Bannerghatta Road,Cafe,Cafe,₹ 350.00
268,Shee-Sha Cafe,No,Yes,1.0,39.0,Bannerghatta Road,"Cafe, Casual Dining","Cafe, North Indian, Chinese, Continental",₹ 800.00
269,Brews N Bites,Yes,No,3.7,48.0,Bannerghatta Road,"Quick Bites, Cafe","Chinese, Fast Food, Cafe, Street Food, Finger ...",₹ 650.00