Importing the required libraries

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt

Reading the Zomato Dataset File

In [ ]:
data = pd.read_csv('Zomato.csv')
data.head(10)

Checking the 'online_order' column

In [21]:
data['online_order'].value_counts()

Yes                   510
No                    485
yes                     3
MG Road                 1
Drinks & nightlife      1
Name: online_order, dtype: int64

In [29]:
    #* Replacing the bad values
    #* We assumed that the two wrong values added were a 'No' for online order
data['online_order'] = data['online_order'].replace(['yes', 'MG Road', 'Drinks & nightlife'],['Yes', 'No', 'No'])
data['online_order'].value_counts()

Yes    513
No     487
Name: online_order, dtype: int64

Now, we check the book_table column

In [25]:
data['book_table'].value_counts()

No     791
Yes    206
yes      2
no       1
Name: book_table, dtype: int64

In [32]:
data['book_table'] = data['book_table'].replace(['yes', 'no'], ["Yes", "No"])
data['book_table'].value_counts()

No     792
Yes    208
Name: book_table, dtype: int64

Now, we format the ratings column first adn find indexes where there is no ratings

In [56]:
data['rate'] = data['rate'].str.replace('/5', '')
empty_indx_lst = data[data['rate'].isnull()].index.tolist()